body {
    background-color: #d9d9d9;
}

.newBG {
    background-color: #d9d9d9;
}
.imgPad{
    margin-left:0.5em
}
.topPad{
    margin-top:1em
}
.imgPad2 {
    margin-top:-1em
}
.moveimage {
    position: relative;
    top: 40px;
}
.movealittle {
    position: relative;
    right: 1em;
}
.restart-btn{
    display:none;
    width:20em;
    margin-top:1em;
    background-color:dimgrey;
    color:white;
}
.choiceB:hover{
    cursor:pointer;     
}
.choiceC:hover {
    cursor: pointer;
}
.choiceV:hover {
    cursor: pointer;
}
.text-win{
    color: green;
}
.text-lose{
    color: red;
}
.scorePad{
    padding-top:2em;
    padding-bottom:2em;
}
.red{
    color: orangered
}
.blue{
    color:dodgerblue
}
.green{
    color: forestgreen
}

.textPad{
    padding-top:1em;
}

.scoreSize{
    font-size: 20px
}
.pScore{
    background-color: mediumpurple;
    color:white;
    font-weight:bold
}
.cScore{
    background-color:tan;
    color:white;
    font-weight:bold
}
div p{
    margin-top:16px
}